body {
    padding-bottom: 40px;
    padding-top: 50px;
}
.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.mycontent-left {
    border-left: 1px solid #c0c0c0;
}

.pull-right {
    float: right !important;
}

.body-font{
    font-family: "Open Sans",serif;
}

.angular-google-map-container {
    height: 400px;
}



.navbar-default {
    background-color: #525252;
    border-color: #525252;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #a0a0a0;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #a0a0a0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #a0a0a0;
    background-color: #525252;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #a0a0a0;
    background-color: #525252;
}
.navbar-default .navbar-toggle {
    border-color: #525252;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a0a0a0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a0a0a0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #a0a0a0;
        background-color: #525252;
    }
}

.ul-custom {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.li-custom {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;

    padding: 20px;
    margin: 5px;
    border: 1px solid rgb(200, 200, 255);
}

.navbar-custom {
    background-color: #efefef;
    color:#000000;
    min-height: 40px;
}

/*.navbar-custom .navbar-nav > li > a {*/
    /*color: #525252;*/
    /*float:none;*/
    /*display:inline-block;*/
    /*vertical-align: top;*/
/*}*/
/*.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {*/
    /*color: #ffffff;*/
    /*background-color:transparent;*/
    /*display:inline-block;*/
    /*vertical-align: top;*/
/*}*/
/*.navbar-custom .navbar-brand {*/
    /*color:#eeeeee;*/
/*}*/

/*.navbar-custom .navbar-inner{*/
    /*text-align: left;*/
/*}*/

.navbar .nav a {
    color: #525252;
}

.navbar .nav a:hover {
    background: #ffffff;
}

.custom-margin{
    margin-bottom: 10px;
}
.custom-border{
    border: 10px;
}
.custom-panel{
    padding: 0px;
}
.custom-panel-profile{
    margin-top: 20px;
}

.custom-icon-pos{
    margin-top: 5px;
}

.gauge {
    height: 250px;
}

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
}

.my-repeat-animation.ng-enter {
    left:-10px;
    opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}

.my-repeat-animation.ng-leave {
    left:0;
    opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
    left:-10px;
    opacity:0;
}

.my-repeat-animation.ng-move {
    opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
    opacity:1;
}

.my-slide-container {
    position:relative;
}
.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;

    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.my-slide-animation.ng-enter {
    z-index:100;
    top:600px;
    opacity:0;
}
.my-slide-animation.ng-enter.ng-enter-active {
    top:0;
    opacity:1;
}

.my-slide-animation.ng-leave {
    z-index:101;
    top:0;
    opacity:1;
}
.my-slide-animation.ng-leave.ng-leave-active {
    top:-600px;
    opacity:0;
}

