body {
    padding-bottom: 40px;
    padding-top: 60px;
}
.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.mycontent-left {
    border-left: 1px solid #c0c0c0;
}

.move-rigth{
    display: block;
    float: right;
}