<navbar></navbar>
<div class="col-md-4">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="Make">Make</label>
                <div class="controls">
                    <input id="Make" name="Make" type="text" placeholder="eg. Ford" class="input-xlarge" ng-model="car.make">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Model</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="eg. Focus" class="input-xlarge" ng-model="car.model">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Reg. number</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="eg. 00D0000" class="input-xlarge" ng-model="car.registration">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Location</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="eg. Dublin" class="input-xlarge">

                </div>
            </div>

            <!-- File Button -->
            <div class="control-group">
                <label class="control-label" for="AddPictures">Add Pictures</label>
                <div class="controls">
                    <input id="AddPictures" name="AddPictures" class="input-file" type="file">
                </div>
            </div>

            <!-- Button -->
            <div class="control-group">
                <label class="control-label" for="singlebutton"></label>
                <div class="controls">
                    <a href="#/main"><button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="addCar()">Create</button></a>
                </div>
            </div>

        </fieldset>
    </form>

</div>