
<navbar></navbar>
<div class=" col-md-3 col-md-offset-1">
    <h4>Create group:</h4>
    <form ng-submit="addGroup()" name="form" novalidate>
        <input  type="text" class="form-control custom-margin" name="Name" placeholder="Name of group" ng-model="group.name" required>

        <input type="text" class="form-control custom-margin" name="address" placeholder="address" ng-model="group.location_attributes.address" required>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
    </form>
</div>