<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}/edit">Settings</a></li>
            <li><a href="#/car/{{car.id}}/fuel" ng-click="stopInterval()">Fuel Entry</a></li>
            <li><a href="">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service">Service</a></li>
        </ul>
    </div>
</nav>


<div class="container" ng>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>GPS Tracking</b>
                    <div class="btn-group pull-right">
                        Traffic: <input type="checkbox" text="TrafficLayer On/Off" ng-model="map.showTraffic">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body text-center" ng-if="pending">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
                <div class="panel-body" ng-if="!pending">
                    <google-map
                            center="map.center"
                            zoom="map.zoom"
                            draggable="true"
                            dragging="map.dragging"
                            bounds="map.bounds"
                            events="map.events"
                            options="map.options"
                            pan="true"
                            control="map.control"
                            >

                        <layer type="TrafficLayer" show="map.showTraffic"></layer>

                        <markers models="map.dynamicMarkers" coords="'self'">
                            <windows show="'showWindow'" ng-cloak>
                                <p>Make: {{car.make}}</p>
                                <p>Model: {{car.model}}</p>
                                <p>Reg: {{car.registration}} Kmh</p>
                                <p>Last seen speed of the car {{car.current_gps_statistic.kmh}} Kmh</p>

                                <p ng-non-bindable>
                                    {{ latitude | number:4 }}, {{ longitude | number:4}}
                                </p>
                            </windows>
                        </markers>
                    </google-map>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Speed</h3></div>
                <div class="panel-body">
                    something else else
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">RPM</h3></div>
                <div class="panel-body">
                    something
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">MPG</h3></div>
                <div class="panel-body">
                    something else
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Service Reminders</h3></div>
                <div class="panel-body">
                    something
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Fault Codes</h3></div>
                <div class="panel-body">
                    something else
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Something</h3></div>
                <div class="panel-body">
                    something else else
                </div>
            </div>
        </div>
    </div>
</div>


