<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="">Car</a></li>
            <li><a href="#/fuel/{{car.id}}">Fault Entry</a></li>
            <li><a href="">Docs</a></li>
            <li><a href="">Diagnostics Statistics</a></li>
            <li><a href="">Service Records</a></li>
        </ul>
    </div>
</nav>
<!-- edit form column -->
<div class="container">
    <div class="panel panel-default col-md-7 custom-panel">
        <div class="panel-heading">GPS Tracking</div>
        <div class="panel-body">
            <google-map id="mymap"
                        center="center"
                        zoom="zoom"
                        draggable="true"
                        mark-click="false">
                <markers>
                    <marker ng-repeat="marker in markers" coords="marker">
                    </marker>
                </markers>
            </google-map>
        </div>
    </div>
    <div class=" col-md-3 col-md-offset-1">
        <h4>Edit car:</h4>
        <form ng-submit="updateCar()" name="form" novalidate>
            <input  type="text" class="form-control custom-margin" name="Name" placeholder="Car make" ng-model="car.make" required>

            <input  type="text" class="form-control custom-margin" name="Surname" placeholder="Car model" ng-model="car.model" required>

            <input  type="text" class="form-control custom-margin" name="username" placeholder="Car registration" ng-model="car.registration" required>

            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="panel panel-default col-md-3 custom-panel">
        <div class="panel-heading">Faults</div>
        <div class="panel-body">
            Faults to go here
        </div>
    </div>
    <div class="panel panel-default col-md-3 custom-panel col-md-offset-1">
        <div class="panel-heading">Remainders</div>
        <div class="panel-body">
            reminaders to go here
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default col-md-3 custom-panel">
        <div class="panel-heading">Fuel Cost</div>
        <div class="panel-body">
            Graph to go here
        </div>
    </div>
    <div class="panel panel-default col-md-3 custom-panel col-md-offset-1">
        <div class="panel-heading">Service Cost</div>
        <div class="panel-body">
            {{car.current_gps_statistic.location.latitude}}
            {{car.current_gps_statistic.location.longitude}}
        </div>
    </div>

</div>


