<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="">Car</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="">Docs</a></li>
            <li><a href="">Diagnostics Statistics</a></li>
            <li><a href="">Service Records</a></li>
        </ul>
    </div>
</nav>
<!-- edit form column -->
<div class="container">
    <div class="panel panel-default col-md-12 custom-panel">
        <div class="panel-heading">GPS Tracking</div>
        <div class="panel-body">
            <google-map
                    center="map.center"
                    zoom="map.zoom"
                    draggable="true"
                    dragging="map.dragging"
                    bounds="map.bounds"
                    events="map.events"
                    options="map.options"
                    pan="true"
                    control="map.control"
                    >

                <layer type="TrafficLayer" show="map.showTraffic"></layer>

                <markers models="map.dynamicMarkers" coords="'self'">
                    <windows show="'showWindow'" ng-cloak>
                        <p> Car last seen speed {{car.current_gps_statistic.kmh}}</p>

                        <p ng-non-bindable>
                            {{ latitude | number:4 }}, {{ longitude | number:4}}
                        </p>
                    </windows>
                </markers>
            </google-map>
        </div>
    </div>

</div>
<div class="container">
    <div class="panel panel-default col-md-3 custom-panel">
        <div class="panel-heading">Faults</div>
        <div class="panel-body">
            Faults to go here
        </div>
    </div>
    <div class="panel panel-default col-md-3 custom-panel col-md-offset-1">
        <div class="panel-heading">Remainders</div>
        <div class="panel-body">
            reminaders to go here
        </div>
    </div>
    <div class="panel panel-default custom-panel col-md-4 col-md-offset-1">
        <div class="panel-heading">Edit Car:</div>
        <div class="panel-body">
            <form ng-submit="updateCar()" name="form" novalidate>
                <input type="text" class="form-control custom-margin" name="Name" placeholder="Car make" ng-model="car.make"
                       required>

                <input type="text" class="form-control custom-margin" name="Surname" placeholder="Car model"
                       ng-model="car.model" required>

                <input type="text" class="form-control custom-margin" name="username" placeholder="Car registration"
                       ng-model="car.registration" required>

                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Update</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default col-md-3 custom-panel">
        <div class="panel-heading">Fuel Cost</div>
        <div class="panel-body">
            Graph to go here
        </div>
    </div>
    <div class="panel panel-default col-md-3 custom-panel col-md-offset-1">
        <div class="panel-heading">Service Cost</div>
        <div class="panel-body">
            {{car.current_gps_statistic.latitude}}
            {{car.current_gps_statistic.longitude}}
            {{car.current_gps_statistic.kmh}}
        </div>
    </div>
</div>


