<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/car/{{car.id}}/edit">Settings</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="#/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service">Expenses</a></li>
            <li><a href="#/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-custom" ng-if="groupNav">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/group/{{group.id}}/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/edit" ng-click="stopInterval()">Settings</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/fuel" ng-click="stopInterval()">Fuel Entry</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/service" ng-click="stopInterval()">Expenses</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div>
        <span>
            <input type="text" placeholder="Name of file" ng-model="document.title">
        </span>
        <input type="text" ng-model="myModelObj">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
             ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true"
             ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
    </div>
</div>