<navbar></navbar>
<nav class="navbar navbar-custom" ng-if="personalNav">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/car/{{car.id}}/edit">Settings</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="#/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service" ng-click="stopInterval()">Expenses</a></li>
            <li><a href="#/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-custom" ng-if="groupNav">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/group/{{group.id}}/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/edit" ng-click="stopInterval()">Settings</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/fuel" ng-click="stopInterval()">Fuel Entry</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/service" ng-click="stopInterval()">Expenses</a></li>
            <li><a href="#/group/{{group.id}}/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel col-md-offset-3">
        <div class="panel-heading">Edit car information<a href="#/car/{{car.id}}" class="pull-right"><i class="fa fa-arrow-circle-left"></i>Back</a></div>
        <div class="panel-body">
                    <form ng-submit="updateCar()" name="form">
                        <h4>Make:</h4>
                        <input  type="text" class="form-control custom-margin" name="Make" placeholder="Make" ng-model="car.make">
                        <h4>Model:</h4>
                        <input  type="text" class="form-control custom-margin" name="Surname" placeholder="Model" ng-model="car.model" >
                        <h4>Registration number:</h4>
                        <input  type="text" class="form-control custom-margin" name="Registration" placeholder="registration" ng-model="car.registration" >
                        <button type="submit" class="btn btn-primary">Update</button>
                   </form>
        </div>
    </div>
</div>


