<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service">Service</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel col-md-offset-3">
        <div class="panel-heading">Edit car information</div>
        <div class="panel-body">
                    <form ng-submit="updateCar()" name="form">
                        <h4>Make:</h4>
                        <input  type="text" class="form-control custom-margin" name="Make" placeholder="Make" ng-model="car.make">
                        <h4>Model:</h4>
                        <input  type="text" class="form-control custom-margin" name="Surname" placeholder="Model" ng-model="car.model" >
                        <h4>Registration number:</h4>
                        <input  type="text" class="form-control custom-margin" name="Registration" placeholder="registration" ng-model="car.registration" >
                        <button type="submit" class="btn btn-primary">Update</button>
                   </form>
        </div>
    </div>
</div>


