<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/car/{{car.id}}/edit">Settings</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="#/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service" ng-click="stopInterval()">Expenses</a></li>
            <li><a href="#/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default col-md-5 custom-panel col-md-offset-3">
            <div class="panel-heading">Update expense entry<a href="#/car/{{car.id}}/service" class="pull-right"><i class="fa fa-arrow-circle-left"></i>Back</a></div>
            <div class="panel-body">
                <form ng-submit="updateExpense()" name="form" novalidate>
                    <input  type="text" class="form-control custom-margin" name="odometer" placeholder="Odometer" ng-model="expense.expense.odometer" required>
                    <input  type="text" class="form-control custom-margin" name="technician" placeholder="Expense Type" ng-model="expense.expense.expense_type" required>
                    <input  type="text" class="form-control custom-margin" name="description" placeholder="Description" ng-model="expense.expense.description" required>
                    <input  type="text" class="form-control custom-margin" name="price" placeholder="Price" ng-model="expense.expense.price" required>
                    <input  type="text" class="form-control custom-margin" name="address" placeholder="address" ng-model="expense.expense.location.address" required>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Date: </label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="expense.expense.date" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                            </p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>