<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#/car/{{car.id}}">Dashboard</a></li>
            <li><a href="#/car/{{car.id}}/edit">Settings</a></li>
            <li><a href="#/car/{{car.id}}/fuel">Fuel Entry</a></li>
            <li><a href="#/car/{{car.id}}/documents">Documents</a></li>
            <li><a href="#/car/{{car.id}}/service" ng-click="stopInterval()">Expenses</a></li>
            <li><a href="#/car/{{car.id}}/reminders">Reminders</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default col-md-5 custom-panel col-md-offset-3">
        <div class="panel-heading">Edit car information</div>
        <div class="panel-body">
            <form ng-submit="updateFuel()" name="form">
                <input  type="text" class="form-control custom-margin" name="Name" placeholder="Odometer" ng-model="fuel.fuel_entry.odometer" required>
                <input  type="text" class="form-control custom-margin" name="liters" placeholder="liters" ng-model="fuel.fuel_entry.liters" required>
                <input  type="text" class="form-control custom-margin" name="price" placeholder="price" ng-model="fuel.fuel_entry.price" required>
                <input  type="text" class="form-control custom-margin" name="fillingStation" placeholder="filling station" ng-model="fuel.fuel_entry.filling_station" required>
                <input value="Null" type="text" class="form-control custom-margin" name="address" placeholder="address" ng-model="fuel.fuel_entry.location.address" required="">
                <div class="row">
                    <div class="col-md-12">
                        <label>Date: </label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fuel.fuel_entry.date" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                             <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Filled Tank:</label> <select class="form-control custom-margin "data-ng-options="o.name for o in options" data-ng-model="selectedOption" required><option></option></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Fuel Type:</label> <select class="form-control custom-margin"data-ng-options="o.name for o in optionsFuel" data-ng-model="selectedOptionFuel" required><option></option></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Update</button>
            </form>
        </div>
    </div>
</div>