<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="">Service Remainders</a></li>
            <li><a href="">Faults</a></li>
            <li><a href="">Docs</a></li>
            <li><a href="">Diagnostics Statistics</a></li>
        </ul>
    </div>
</nav>
<div class="container" ng-controller="fuelController">
        <div class="panel panel-default col-md-5 custom-panel">
            <div class="panel-heading">Add a fuel entry</div>
            <div class="panel-body">
                    <form ng-submit="addFuel(car.id)" name="form" novalidate>
                        <input  type="text" class="form-control custom-margin" name="Name" placeholder="Odometer" ng-model="fuel.odometer" required>
                        <input  type="text" class="form-control custom-margin" name="Surname" placeholder="liters" ng-model="fuel.liters" required>
                        <input  type="text" class="form-control custom-margin" name="username" placeholder="price" ng-model="fuel.price" required>
                        <input  type="text" class="form-control custom-margin" name="username" placeholder="filling station" ng-model="fuel.filling_station" required>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Filled Tank:</label> <select class="form-control custom-margin"data-ng-options="o.name for o in options" data-ng-model="selectedOption" required><option></option></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Fuel Type:</label> <select class="form-control custom-margin"data-ng-options="o.name for o in optionsFuel" data-ng-model="selectedOptionFuel" required><option></option></select>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add location</button>
                                <hr>
                                <div collapse="!isCollapsed">
                                    <input  type="text" class="form-control custom-margin" name="address" placeholder="address" ng-model="fuel.location_attributes.address">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                    </form>
            </div>
        </div>
    <div class="panel panel-default col-md-5 custom-panel col-md-offset-1" ng-controller="fuelController">
        <div class="panel-heading"><input placeholder="Filter fuel entries" ng-model="searchText"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Odometer</th>
                <th>Liters</th>
                <th>Price</th>
                <th>Location</th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="fuel_entry in fuel_entries | filter:searchText">
                <td> {{fuel_entry.odometer}} </td>
                <td> {{fuel_entry.liters}} </td>
                <td> {{fuel_entry.price}} </td>
                <td> {{fuel_entry.location.city}} </td>
                <td class="dropdown">

                    <a href="#" tooltip-placement="left" tooltip="Settings" class="dropdown-toggle"><i class="fa fa-cogs fa-lg"></i></a>
                    <ul class="dropdown-menu">
                        <li><a><i class="fa fa-trash-o" ng-click="deleteEntry(car.id,fuel_entry.id)"> Delete</i></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default col-md-5 custom-panel col-md-offset-1">
        <div class="panel-heading">Average litres per Entry </div>
        <div class=" gauge">
            <pie-chart data="gauge_data" options="fuel_options"></pie-chart>
        </div>
    </div>

</div>

