<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/main">Fleet on Rails</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/main" tooltip-placement="bottom" tooltip="Dashboard"><i class="fa fa-dashboard fa-lg"></i></a></li>
                <li><a href="#/main" tooltip-placement="bottom" tooltip="Driver Profile"><i class="fa fa-male fa-lg"></i></a></li>
                <li><a href="#/gps" tooltip-placement="bottom" tooltip="GPS Tracking"><i class="fa fa-globe fa-lg"></i></a></li>
                <li class="dropdown">

                    <a href="#" tooltip-placement="bottom" tooltip="Settings" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench fa-lg"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/profile"><i class="fa fa-user"> Profile</i></a></li>
                        <li><a href="#"><i class="fa fa-cogs"> Settings</i></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-question"> About</i></a></li>
                    </ul>
                </li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-primary navbar-btn navbar-right">Log out</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <google-map center="map.center" zoom="map.zoom">
        <marker coords='{"latitude":53.34991410000001,"longitude":-6.260663699999999}'>
        </marker>
    </google-map>
</div>