<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner">
        <ul class="nav nav-justified">
            <li><a href="#/main">Main Dashboard</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <button class="btn btn-default" ng-click="changeToAdd()">Add Group</button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Created</th>
        </tr>
        </thead>
        <tr ng-repeat="group in groups" class="my-repeat-animation">
            <td><a href="#/group/{{group.id}}">{{group.name}} </a></td>
            <td>{{group.location.address}}</td>
            <td>{{group.created_at | date:'yyyy-MM-dd'}}</td>
        </tr>
    </table>
</div>