<navbar>
</navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner">
        <ul class="nav nav-justified">
            <li><a href="#/group/{{group.id}}">Group</a></li>
            <li><a href="#/group/{{group.id}}/users">Users</a></li>
            <li><a href="#/group/{{group.id}}/cars">Cars</a></li>
            <li><a href="#/group/{{group.id}}/vendors">Vendors</a></li>
            <li><a href="#/group/{{group.id}}/destinations">Destinations</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default custom-panel col-md-3 ">
        <div class="panel-heading">Group Information</div>
            <div class="panel-body">
                <h4>Name: {{group.name}}</h4>
                <h4>Created at: {{group.created_at | date:'yyyy-MM-dd'}}</h4>
                <h4>Address: {{group.location.address}}</h4>
            </div>
    </div>
</div>
