<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner">
        <ul class="nav nav-justified">
            <li><a href="#/main">Main Dashboard</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <div>
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add group</button>
        <hr>
        <div class="col-md-4" collapse="!isCollapsed">
            <form ng-submit="add()" name="form" novalidate>
                <input  type="text" class="form-control custom-margin" name="Name" placeholder="Name of group" ng-model="group.name" required>

                <input type="text" class="form-control custom-margin" name="address" placeholder="address" ng-model="group.location_attributes.address" required>
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid">Create</button>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="group in groups" class="my-repeat-animation">
            <td><a href="#/group/{{group.id}}">{{group.name}} </a></td>
            <td>{{group.location.address}}</td>
            <td>{{group.created_at | date:'yyyy-MM-dd'}}</td>
            <td class="dropdown">
                <a href="#" tooltip-placement="left" tooltip="Settings" class="dropdown-toggle"><i class="fa fa-cogs fa-lg"></i></a>
                <ul class="dropdown-menu">
                    <li><a><i class="fa fa-trash-o" ng-click="deleteGroup(group.id,$index)"> Delete</i></a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>