<navbar>

</navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner">
        <ul class="nav nav-justified">
            <li><a href="#/groups">Groups</a></li>
            <li><a href="#/group/{{group.id}}/users">Users</a></li>
            <li><a href="#/group/{{group.id}}/cars">Cars</a></li>
            <li><a href="#/group/{{group.id}}/vendors">Vendors</a></li>
            <li><a href="#/group/{{group.id}}/destinations">Destinations</a></li>
        </ul>
    </div>
</nav>
<div class="container">

</div>