<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner ">
        <ul class="nav nav-justified">
            <li><a href="#">Service Remainders</a></li>
            <li><a href="#">Faults</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Diagnostics Statistics</a></li>
        </ul>
    </div>
</nav>
<div class=" col-md-8" ng-controller="carController">
    <form class="form-search">
        <div class="input-append">
            <input type="text" ng-model="search" class="search-query" style="width: 80px">
            <button type="submit" class="btn">Search</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="car in cars | filter:search" class="animation">
                <a href="#/car/{{car.id}}"> {{car.make}} </a>
            </li>
        </ul>
    </form>
</div>
<div class="panel panel-default col-md-3 custom-panel" ng-controller="carController">
    <div class="panel-heading"><input placeholder="Filter Cars" ng-model="searchText"><a href="#/addcar"><i class="fa fa-plus pull-right custom-icon-pos" tooltip-placement="bottom" tooltip="Add Car"></i></a></div>
    <table class="table">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Reg. Num</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="car in cars | filter:searchText">
            <td> <a href="#/car/{{car.id}}">{{car.make}} </a></td>
            <td> {{car.model}} </td>
            <td> {{car.registration}} </td>
            <td><i class="fa fa-trash-o pull-right" ng-click="deleteCar(car.id)"></i></td>
        </tr>
    </table>
</div>

