<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/main">Fleet on Rails</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="#/profile"> {{user.me.first_name}}</a></li>
                <li><a href="#/main">Dashboard</a></li>
                <li><a href="#/main">Driver Profile</a></li>
                <li><a href="#/gps">GPS Tracking</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/main">Profile</a></li>
                        <li><a href="#/main">Settings</a></li>
                        <li class="#/main"></li>
                        <li><a href="#/main">Help</a></li>
                        <li class="divider"></li>
                        <li><a href="#/main">About</a></li>
                    </ul>
                </li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-primary navbar-btn navbar-right">Log out</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="">
        <div class="">
            <div class="row">
                <!-- avatar column -->
                <div class="col-md-3 col-md-offset-1">
                    <div class="personal-image">
                        <img src="" class="avatar img-circle" alt="avatar"/>

                        <p>Upload a different photo...</p>

                        <input type="file"/>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-7 mycontent-left">
                    <h5>Personal info:</h5>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model=" user.me.first_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last name:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.me.last_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.me.email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.me.username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone Number:</label>

                            <div class="col-lg-8">
                                <input class="form-control" type="text" ng-model="user.me.phone_no"/>
                            </div>
                        </div>
                        <div class="pull-right">
                            <input type="button" class="btn btn-primary " value="Save Changes"
                                   ng-click="changeProfile()">
                            <input type="reset" value="Cancel" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
