<navbar></navbar>
<nav class="navbar navbar-custom">
    <div class="navbar-inner">
        <ul class="nav nav-justified">
            <li><a href="#/main">Home</a></li>
            <li><a href="#/gps">Vehicles</a></li>
            <li><a href="#/groups">Groups</a></li>
            <li><a href="#/vendors">Vendors</a></li>
        </ul>
    </div>
</nav>
<div class="container">
        <div class="panel panel-default col-md-5 custom-panel custom-panel-profile col-md-offset-3 ">
            <div class="panel-heading">Edit personal information</div>
            <div class="panel-body">
                <tabset>
                    <tab heading="Edit Profile" ng-controller="MainCtrl">
                        <form ng-submit="changeProfile()" name="form" novalidate>
                            <h4>First Name:</h4>
                            <input  type="text" class="form-control custom-margin" name="profile" placeholder="First Name" ng-model="user.me.first_name" required>
                            <h4>Second Name:</h4>
                            <input  type="text" class="form-control custom-margin" name="profile" placeholder="Last name" ng-model="user.me.last_name" required>
                            <h4>Email Address:</h4>
                            <input  type="text" class="form-control custom-margin" name="profile" placeholder="Email address" ng-model="user.me.email" required>
                            <h4>Username:</h4>
                            <input  type="text" class="form-control custom-margin" name="profile" placeholder="User name" ng-model="user.me.username" required>
                            <h4>Phone Number:</h4>
                            <input  type="text" class="form-control custom-margin" name="profile" placeholder="Phone Number" ng-model="user.me.phone_no" >
                            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                        </form>
                    </tab>
                    <tab heading="Update Password" ng-controller="MainCtrl">
                        <form ng-submit="changePassword()" name="update" novalidate>
                            <h4>New password:</h4>
                            <input autocomplete="off" type="password" class="form-control custom-margin" name="Name" placeholder="New Password" ng-model="user.me.password" required>
                            <h4>Retype new password:</h4>
                            <input autocomplete="off"  type="password" class="form-control custom-margin" name="Name" placeholder="Retype Password" ng-model="user.me.password_confirmation" required>
                            <h4>Current password:</h4>
                            <input autocomplete="off"  type="password" class="form-control custom-margin" name="Name" placeholder="Current Password" ng-model="user.me.current_password" required>
                            <button type="submit" class="btn btn-primary" ng-disabled="update.$invalid">Create</button>
                        </form>
                    </tab>
                </tabset>
            </div>
        </div>
</div>


